@import "~trowel-core/src/trowel";
@import "~trowel-layouts/src/scss/layouts";
@import "~trowel-forms/src/scss/forms";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

md-input-container {
  width: 80%;
}
p-steps{
  display: inline-block;
  width: 100%;
  padding: 20px;
  .ui-steps {
    display: block;
    .ui-steps-item {
      width: 25%;
    }
    &.steps-custom {
      margin-bottom: 30px;

      .ui-steps-item {
        .ui-menuitem-link {
          height: 10px;
          padding: 0 1em;
        }

        .ui-steps-number {
          background-color: #0081c2;
          color: #FFFFFF;
          display: inline-block;
          width: 36px;
          border-radius: 50%;
          margin-top: -14px;
          margin-bottom: 10px;
        }

        .ui-steps-title {
          color: #555555;
        }
      }
    }
  }
}